{% extends 'base.html' %}

<h1>{% block title %} Account {% endblock %}</h1>

{% block content %}

<style>
body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            align-items: normal;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding-top: 56px;
        }


    .info {
        color: black;
        font-size: 22px;
        text-decoration: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .grid-item {
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .grid-item:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    }

    .item-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .item-detail {
        font-size: 20px;
        margin-bottom: 5px;
    }



 .form-container {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        max-width: 700px;
        text-align: center;
        margin-top: 56px;
        margin-left: 200px;
        margin-bottom: 40px;
    }

        button {
            all: unset;
        }

    .action-link {
        padding: 10px 20px;
        background-color: #6A5ACD;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-size: large;
        transition: background-color 0.3s;
    }

    .action-link:hover {
        background-color: #695acd96;
        text-decoration: none;
        color: white;
    }

</style>

<div class="form-container">
<div class="info">Name: {{uname}}</div>
<div class="info">Surname: {{surname}}</div>
<div class="info">Addr: {{addr}}</div>
<div class="info">Phone: {{phone}}</div>
<div class="info">Spent: {{spent}}</div>
</div>

<text style="margin-left: 20px; font-size: 22px;">Bought items:</text>

<div class="grid-container">
    {% for item, n in dict_.items() %}
    <div class="grid-item">
        <div class="item-title">{{item[1]}} #{{item[0]}}</div>
        <div class="item-detail">Seller: {{item[2]}}</div>
        <div class="item-detail">Total number: {{item[3]}}</div>
        <div class="item-detail">Sold count: {{n}}</div>
        <div class="item-detail">Price: {{item[4]}}</div>
        <div class="item-detail">Color: {{item[5]}}</div>
    </div>
    {% endfor %}
</div>

<text style="margin-left: 20px;
    font-size: 22px;">Bought items with same name and different ids:</text>
<div class="grid-container">

    {% for item in duplicates %}

    <div class="grid-item">
        <div class="item-detail">
            {{item[0]}}
        </div>
    </div>

    {% endfor %}
</div>


<div class="action-link-container">

<form method="POST" style="margin-left: 20px; display: inline-block; margin-top: 20px;">
    <button type="submit" class="action-link" id="change_button"
        name="change_button">Change info</button>
</form>

<form method="POST" style="margin-left: 50px; display: inline-block; margin-bottom: 100px">
    <button type="submit" class="action-link" id="delete_button" name="delete_button">
        Delete acccount
    </button>
</form>

</div>



{% endblock %}
