{% extends 'base.html' %}

{% block title %} Change Info {% endblock %}

{% block content %}

<style>
 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding-top: 56px;
        }

    .form-container {
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        max-width: 400px;
        margin: 50px auto;
        text-align: center;
    }

    .input-box {
        height: 38px;
        text-indent: 10px;
        font-size: 16px;
        border-radius: 3px;
        width: 100%;
        background-color: white;
        border: 1px solid #d7d7be;
        margin-bottom: 20px;
    }

    #change_button {
        height: 40px;
        width: 100%;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        background-color: #6A5ACD; /* Theme color */
        border: none;
        color: #F5F5F5;
        cursor: pointer;
    }

    #change_button:hover {
        background-color: #695acd96; /* Hover effect */
    }

    #msg {
        font-size: x-large;
        color: #6A5ACD;
    }
</style>

<div class="form-container">
    <form method="post" id="reg_form">
        <div id="boxes">
            <input type="text" name="surname" id="surname_box" class="input-box" placeholder="Surname">
            <input type="text" name="addr" id="addr_box" class="input-box" placeholder="Address">
            <input type="text" name="phone" id="phone_box" class="input-box" placeholder="Phone">
            <input type="password" name="passw" id="passw_box" class="input-box" placeholder="Password">
        </div>

        <button type="submit" id="change_button">Change Info</button>
        <br><br>
        <label id="msg">{{ msg }}</label>
    </form>
</div>

{% endblock %}
