{% extends 'base.html' %}

<h1>{% block title %} Home {% endblock %}</h1>

{% block content %}

<style>
    .grid-container {
        margin-top: 25px;
        margin-left: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding-bottom: 30px;
        font-size: xx-large;
        text-align: left;
        border-style: hidden;
    }
</style>

<a href="/sell">Sell and item</a>

<form method="POST">
    <label for="col_to_sort">Sort by:</label>
    <input type="text" name="col_to_sort" list="col_list">
    <datalist id="col_list">
        <option value="Name"></option>
        <option value="Seller"></option>
        <option value="Total count"></option>
        <option value="Sold count"></option>
        <option value="Price"></option>
    </datalist>
    <input type="hidden" name="sort_by_form" value="sort_by_form">
    </input>
    <button type="submit">
        Submit
    </button>
</form>

<div class="grid-container">

    {% for item in items %}

    <div class="grid-item">
        <form method="POST">
            <input type="hidden" name="buy_id" value={{item[0]}}>
            </input>
            <button type="submit">
                {{item[1]}} #{{item[0]}}
            </button>
        </form>

        <div>
            Seller: {{item[2]}}
        </div>

        <div>
            Total number: {{ item[3] }}
        </div>

        <div>
            Sold count: {{item[4]}}
        </div>

        <div>
            Price: {{item[5]}}
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}