{% extends 'base.html' %}

<h1>{% block title %} Buy {% endblock %}</h1>

{% block content %}


<style>
    #reg_form {
        margin-top: 250px;
        margin-left: 775px;
    }

    #name_box,
    #count_box,
    #price_box {
        height: 38px;
        text-indent: 10px;
        font-size: 0.365cm;
        border-radius: 3px;
        width: 320px;
        background-color: rgb(250, 250, 220);
        border-width: 0.05cm;
        border-style: solid;
        border-color: rgb(215, 215, 190);
    }

    #sell_button {
        height: 35px;
        width: 320px;
        border-radius: 9px;
        font-size: 0.43cm;
        font-weight: 600;
        margin-left: 0px;
        margin-top: -5px;
        background-color: rgb(65, 185, 75);
        border-color: turquoise;
        color: white;
        text-align: center;
    }

    #boxes>* {
        margin: 3px 0;
    }

    button {
        all: unset;
    }

    #msg {
        font-size: x-large;
    }
</style>

<form method="post" id="reg_form">

    <div id="boxes">
        <input type="text" name="name" id="name_box" placeholder="Name">
        </input>

        <br>

        <input type="text" name="count" id="count_box" placeholder="Count">
        </input>

        <br>

        <input type="text" name="price" id="price_box" placeholder="Price">
        </input>

        <br>
    </div>

    <br>

    <button type="submit" id="sell_button">Sell</button>

    <br>
    <br>
    <label id="msg">{{ msg }}</label>

</form>

{% endblock %}