{% extends 'base.html' %}

{% block title %} Sell {% endblock %}

{% block content %}

<style>
    .form-container {
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        max-width: 400px;
        margin: 50px auto;
        text-align: center;
    }

    .input-box {
        height: 38px;
        text-indent: 10px;
        font-size: 16px;
        border-radius: 3px;
        width: 100%;
        background-color: #fafadc;
        border: 1px solid #d7d7be;
        margin-bottom: 20px;
    }

    #sell_button {
        height: 40px;
        width: 100%;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        background-color: #41b94b; /* Green button color */
        border: none;
        color: white;
        cursor: pointer;
    }

    #sell_button:hover {
        background-color: #369c3b; /* Hover effect */
    }

    #msg {
        font-size: x-large;
        color: #6A5ACD;
    }
</style>

<div class="form-container">
    <form method="post" id="reg_form">
        <div id="boxes">
            <input type="text" name="name" id="name_box" class="input-box" placeholder="Name">
            <input type="text" name="count" id="count_box" class="input-box" placeholder="Count">
            <input type="text" name="price" id="price_box" class="input-box" placeholder="Price">
        </div>

        <button type="submit" id="sell_button">Sell</button>
        <br><br>
        <label id="msg">{{ msg }}</label>
    </form>
</div>

{% endblock %}
